body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#gameCanvas {
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
