body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#gameCanvas {
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  touch-action: none;
}

/* --- INTERFACE UTILISATEUR --- */
#ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

#start-screen {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  color: white;
  pointer-events: auto;
  border: 4px solid #fff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 0;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #4caf50;
  text-shadow: 4px 4px 0 #000;
  margin-bottom: 20px;
}

p {
  font-size: 10px;
  margin-bottom: 40px;
  color: #ccc;
  line-height: 2;
  text-transform: uppercase;
}

button {
  font-family: "Press Start 2P", cursive;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border: 4px solid white;
  text-transform: uppercase;
  box-shadow: 0 6px 0 #2e7d32;
  transition: all 0.1s;
}

button:hover {
  background-color: #45a049;
  transform: translateY(2px);
  box-shadow: 0 4px 0 #2e7d32;
}

button:active {
  transform: translateY(6px);
  box-shadow: none;
}
