body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#gameCanvas {
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  touch-action: none;
}

/* --- INTERFACE UTILISATEUR --- */
#ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  pointer-events: auto;
  border: 4px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #4caf50;
  text-shadow: 2px 2px 0 #000;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
