body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#gameCanvas {
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  touch-action: none;
}

/* --- LE MODAL --- */
#loginModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Press Start 2P", cursive;
}

.modal-content {
  background: white;
  padding: 20px;
  border: 4px solid #000;
  text-align: center;
  image-rendering: pixelated;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.modal-content input {
  font-family: "Press Start 2P", cursive;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #333;
  width: 200px;
  text-align: center;
}

.modal-content button {
  font-family: "Press Start 2P", cursive;
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: 2px solid #000;
  cursor: pointer;
}

.modal-content button:hover {
  background: #45a049;
}
